<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>209572232118-r2p39e70mrhs819lsnf4khpspom2ip99.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.209572232118-r2p39e70mrhs819lsnf4khpspom2ip99</string>
	<key>API_KEY</key>
	<string>AIzaSyDa4qtcczvGrKgAR28iFW79xj_m6h7dNVI</string>
	<key>GCM_SENDER_ID</key>
	<string>209572232118</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dcSelfcare</string>
	<key>PROJECT_ID</key>
	<string>dc-selfcare</string>
	<key>STORAGE_BUCKET</key>
	<string>dc-selfcare.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:209572232118:ios:c72888403c47e553aa1f17</string>
</dict>
</plist>